body {
    background-color: rgb(38, 39, 34);
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: honeydew;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.6);
}

table {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: silver;
    border: 2px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    transition: 0.2s;
}

.board td {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin: 0;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 10%;
    font-size: 12px;
}

.board td:hover {
    cursor: pointer;
    background-color:rgb(156, 156, 156);
    transition: 0.3s;
}

.first {
    margin: auto;
    margin-bottom: 25px;
    width: 330px;
    box-sizing: border-box;
}

.first .timer {
    display: inline-block;
    background-color: black;
    border: 1px solid rgb(85, 84, 84);
    padding: 2px;
    color: red;
    font-family: monospace;
    text-align: right;
    margin: 0px;
    height: 20px;
    min-width: 34px;
    box-sizing: border-box;
}
.first .score {
    display: inline-block;
    background-color: black;
    border: 1px solid rgb(85, 84, 84);
    padding: 2px;
    color: red;
    font-family: monospace;
    text-align: right;
    margin: 0px;
    margin-left: 110px;
    height: 20px;
    width: 34px;
    box-sizing: border-box;
}

.line {
    height: 1px;
    width: auto;
    background-color: rgba(156, 151, 151, 0.781);
    margin: 0;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.level {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 320px;
    margin: 0 auto;
    min-height: 100px;
}

.level button {
    width: 30px;
    height: auto;
    flex: 1 1 auto;
    margin: 10px;
    margin-bottom: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    float: left;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
    background-color: silver;
    border: 2.5px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.level button:hover {
    background-color: snow;
    cursor: pointer;
    transition: 0.5s;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 320px;
    margin: 0 auto;
    min-height: 60px;
}

.lives {
    font-size: large;
    text-align: center;
    margin: auto;
    width: 85px;
    padding: 4px;
    background-color: silver;
    border: 2.5px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.wrapper .hints {
    font-size: large;
    text-align: center;
    margin: auto;
    width: 85px;
    padding: 4px;
    background-color: silver;
    border: 2.5px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed; 
}

.wrapper .hints:hover {
    background-color: snow;
    cursor: pointer;
    transition: 0.5s;
}

.smiley {
    display: inline-block;
    transition: 0.2s;
    background-color: silver;
    border: 2.5px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    margin-left: 110px;
    font-size: x-large;
    transition: transform 0.8s;
    animation-name: logo;
    animation-duration: 3.5s;
    animation-iteration-count: 0;
}

@keyframes logo {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(180deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-180deg);}
    100% {transform: rotate(0deg);}
}

.smiley:hover {
    cursor: pointer;
}